<!DOCTYPE html>
<html>
<head>
  <title>Appstore</title>
  <%= stylesheet_link_tag    "appstore/application", :media => "all" %>
  <%= javascript_include_tag "appstore/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
